<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<h2>
  <ng-pluralize count="message.Replies.length"
                when="{'0': 'Ei vastauksia',
                       'one': '1 vastaus',
                       'other': '{} vastausta'}">
  </ng-pluralize>
</h2>

<ul class="media-list">
  <li class="media" ng-repeat="reply in message.Replies">
    <div class="media-body">
      <h4 class="media-heading">Käyttäjätunnus tähän</h4>

      <p>
        {{reply.content}}
      </p>

      <p class="text-muted">
        {{reply.createdAt | date: 'MM.dd.yyyy HH:mm' }}
      </p>
    </div>
  </li>
</ul>

<h2>Lisää oma vastauksesi</h2>

<form name="replyForm">
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control" ng-model="newReply.content" required></textarea>
  </div>

  <button class="btn btn-success" ng-click="addReply()" ng-disabled="replyForm.$invalid">Lisää vastaus</button>
</form>
