<div class="page-header">
  <h1>Rekisteröidy</h1>
</div>

<form name="registrationForm">
  <p>{{errorMessage}}</p>

  <div class="form-group">
    <label>Käyttäjätunnus</label>
    <input type="text" name="username" class="form-control" ng-model="user.username" required>
  </div>

  <div class="form-group">
    <label>Salasana</label>
    <input type="password" name="password" class="form-control" ng-model="user.password" required>
  </div>

  <div class="form-group">
    <label>Salasana uudelleen</label>
    <input type="password" match-password="password" name="passwordConfirmation" class="form-control" ng-model="user.passwordConfirmation" required>
  </div>

  <button class="btn btn-success" ng-click="register()" ng-disabled="registrationForm.$invalid">Rekisteröidy</button>
</form>
